<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <header th:fragment="encabezado">
        
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" th:href="@{/}">S.E.E.S</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/verFormularios}">Formularios</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/verTablas}">Vistas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/individuos/}">Individuos</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
    <footer class="footer mt-auto py-3 bg-light" th:fragment="piedepagina">
        <div class="container">
            <span class="text-muted">© 2024 Mi Sitio. Todos los derechos reservados.</span>
        </div>
    </footer>
    </body>
</html>
 