<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Buscar Individuos</title>
</head>
    <link rel="stylesheet" th:href="@{/style.css/}"/>
<body>
    <header th:replace="plantilla/plantilla :: encabezado"/>
    <main>
    <h1>Resultados de la búsqueda</h1>
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Edad</th>
                <th>Correo</th>
                <th>Teléfono</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="individuo : ${individuos}">
                <td th:text="${individuo.nombre}">Nombre</td>
                <td th:text="${individuo.apellido}">Apellido</td>
                <td th:text="${individuo.edad}">Edad</td>
                <td th:text="${individuo.correo}">Correo</td>
                <td th:text="${individuo.telefono}">Teléfono</td>
            </tr>
        </tbody>
    </table>
    <br>
    <a href="/">Volver al inicio</a>
    </main>
    <footer th:replace="plantilla/plantilla :: piedepagina"/>
</body>
</html>
